DBT_SERVICE_TOKEN=dbtc_xxxxxxxxxxxxxxxxxxxxxxxxxxxx
DBT_ACCOUNT_ID=12345
DBT_PROJECT_ID=67890
DBT_ENVIRONMENT_ID=11111
DBT_DISCOVERY_API_URL=https://metadata.cloud.getdbt.com/graphql
DBT_SEMANTIC_LAYER_API_URL=https://semantic-layer.cloud.getdbt.com/api/graphql
